In [2]:
import pandas as pd

In [2]:
data = pd.read_csv('./mergedUserInfo.csv')

In [7]:
valid_user = data[~data.possible_email.isnull()].copy()

In [14]:
valid_user = valid_user[~valid_user.possible_email.str.contains('noreply', regex=False)]

In [22]:
data[data.possible_email.isnull()].username.to_csv('./task.csv', index=False)

In [24]:
data = pd.read_csv('./task.csv').username.to_list()

In [3]:
data = pd.read_csv('./task.csv')

In [5]:
results = pd.read_csv('./day3Results.csv')

In [6]:
results

                 user_name                                     possible_email
0                 monisriz                                                NaN
1            steven-murray                                                NaN
2            argosopentech  <48267258+argosopentech@users.noreply.github.com>
3               luoyuanlab                                                NaN
4                 bitcraft                                                NaN
5               palash1992                                                NaN
6                   retr0h                                                NaN
7                  saketkc                         <saketkc+github@gmail.com>
8           EthanRosenthal                         <ethanrosenthal@gmail.com>
9              agermanidis                            <agermanidis@gmail.com>
10  JustinClarkHydrologist                                                NaN
11                hpnhxxwn                                                NaN

In [8]:
data[data.username == 'hpnhxxwn']

     username
159  hpnhxxwn

In [10]:
data.iloc[159:,:].copy().to_csv('./task.csv', index=False)